body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: black;
    background-image: url(whiteb.avif);
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
     color: midnightblue;
     text-align: center;
     background-color: lightslategray;
     padding-left: 10px;
     padding-right: 10px;
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:white;
    background-color: black;
    display: inline-block;
    padding: 10px;
}
h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: midnightblue;
    background-color: lightslategray;
    display: inline-block;
    padding: 5px;
}

.left-list {
    margin-left: -20px;
}
.banner {
    background-color:midnightblue;
   display: flex;
   justify-content: center;
   align-items: center;
   
}
.contact {
    background-color: lightslategray;
    display: inline-block;
    padding: 5px;
    
    text-align: right;
    
    color: white;
    /*flex: 1;*/ 
}
 /*.background {
    background-color: whitesmoke ;
    background-size: cover;
    
    background-repeat: no-repeat; 
}*/
ul {
    list-style-image: url(dot.png)
}
