/* ADD YOUR CUSTOM CSS TO THIS FILE */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: black;
    background-image: url(whiteb.avif);
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
     color: midnightblue;
     text-align: center;
     background-color: lightslategray;
     padding-left: 20px;
     padding-right: 10px;
     
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:white;
    background-color: black;
    display: inline-block;
    padding: 10px;
}
h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    color: midnightblue;
    background-color: lightslategray;
    display: inline-block;
    padding: 5px;
}
h4{
    font-size: medium;
    color: black;
}

.left-list li{
    margin-left: 20px;
    list-style-image: url(dot.png);
}

.banner {
    background-color:rgb(155, 155, 218);
   display: flex;
   justify-content: center;
   align-items: center;
   
}

    /*flex: 1;*/ 

 /*.background {
    background-color: whitesmoke ;
    background-size: cover;
    
    background-repeat: no-repeat; 
}*/
ul {
    list-style-image: url(dot.png)
}
.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: midnightblue;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;

}
